
.RecipeItem-container {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 94%;
  margin: auto;
  background-color: #E9E9E9;
  border-radius: 0.6em;
  min-height: 30em;
}

.RecipeItem-info {
  margin: 0em auto;
  width: 100%;
  padding: 1em;
  position: relative;
}

.RecipeItem-header {
  display: flex;
  justify-content: space-between;
}

.RecipeItem-info img {
  position: absolute;
  top: 4em;
  right: 1em;
  height: 15em;
  border-radius: 0.6em;
}

#title {
  font-size: 1.5em;
}

.minor-property {
  margin: 1.5em 0;
}

.ingredient-item {
  margin: 0.8em 1em;
}

#ext-link {
  margin: 1em;
}

#no-auth-button {
  opacity: 15%;
}

.user-list-button {
  border-radius: 0.6em;
  border: none;
  background-color: rgb(138, 138, 138);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-list-button-up:hover {
  background-color: rgb(0, 102, 255);
  color: lightgray;
}

.change-list-button-down:hover {
  background-color: rgb(151, 0, 0);
  color: lightgray;
}

.sign {
  font-size: 1em;
  margin-right: 0.3em;
  font-weight: 600;
}