.Dashboard-body {
  display: flex;
}

.chooser-container {
  margin: 0 1em;
  border-radius: 0.6em;
  width: 20%;
}

.Dashboard-body-recipes-container {
  background-color: #E9E9E9;
  width: 60%;
  border-radius: 0.6em;
  padding: 1em;
  margin-left: 2em;
}

#dash-shuffle-button {
  margin: auto;
  display: flex;
  justify-content: center;
}

.shuffle-button {
  margin-top: 1.25em;
  padding: 1em 3em;
  border: none;
  background-color: rgb(138, 138, 138);
  border-radius: 0.6em;
}

.Dashboard-body-recipes {
  margin-top: 1.25em;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.Dashboard-header {
  font-size: 1.5em;
}

.Dashboard-login-container {
  background-color: #E9E9E9;
  margin: 0 1em;
  border-radius: 0.6em;
  padding: 1em;
  width: 20%;
}

.Dashboard-login-container-scroll {
  height: 27em;
  width: 100%;
  overflow-y: scroll;
}

.Dashboard-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#Dashboard-login-label {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 3em;
}

.Dashboard-login button {
  border-radius: 0.6em;
  background-color: rgb(138, 138, 138);
  border: none;
  padding: 0.3em 0;
  width: 74%;
  margin: 2em auto;
}

.Dashboard button:hover {
  background-color: rgb(173, 121, 121);
}