
.MyList-container {
  padding: 0 1em 1em;
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin: auto;
  background-color: #E9E9E9;
  border-radius: 0.6em;
  height: 34em;
  overflow-y: scroll;
}

.MyList-header {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  margin: auto;
  margin-bottom: 0.5em;
}
