.ChooseRandom {
  background-color: #E9E9E9;
  height: 30em;
  border-radius: 0.6em;
  padding: 1em;
  width: 100%;
}

#ChooseRandom-header {
  font-size: 1.5em;
}

.ChooseRandom-form {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.ChooseRandom-form label {
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 0.9em;
}

.ChooseRandom-form input, .ChooseRandom-form select {
  max-width: 18em;
  padding: 1px;
}

.ChooseRandom button {
  border-radius: 0.6em;
  background-color: rgb(138, 138, 138);
  border: none;
  padding: 0.3em;
  font-size: 0.8em;
  max-width: 18em;
}

.ChooseRandom button:hover {
  background-color: rgb(173, 121, 121);
}

#button1 {
  margin-top: 8em;
}

#button2 {
  margin-top: 0.6em;
}