
.AllRecipes-container {
  padding: 0 1em 1em;
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin: auto;
  background-color: #E9E9E9;
  border-radius: 0.6em;
}

.AllRecipes .header {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  margin: auto;
  margin-bottom: 0.5em;
}

.cuisine-buttons {
  margin: auto;
  width: 60%;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.cuisine-buttons button {
  margin: 0.2em 0.15em;
  border-radius: 0.4em;
  border: none;
  padding: 0.25em;
}