.User-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.User-input label {
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.User-input input {
  padding: 0.25em;
  border-radius: 0.4em;
  border: solid 1px lightgray;
}

.User-input button {
  margin-top: 1em;
  border: none;
  background-color: rgb(138, 138, 138);
  border-radius: 0.6em;
  padding: 0.25em;
}

.error-message {
  inline-size: 9em;
  text-align: center;
  border: solid 2px red;
  padding: 0.5em;
  background-color: rgb(248, 99, 99);
}