.random-recipe-container {
  display: flex;
  justify-content: flex-start;
}

.Choose-container {
  width: 17.5%;
  margin-left: 1em;
  margin-right: 1em;
}

.random-recipe-info {
  background-color: #E9E9E9;
  width: 45em;
  border-radius: 0.6em;
  padding: 1em;
  margin-left: 2em;
}

#random-recipe-title {
  font-size: 1.5em;
}

.shuffle-btn-container {
  display: flex;
  justify-content: center;
  margin: 0.4em;
}

.shuffle-btn {
  border-radius: 0.6em;
  background-color: rgb(138, 138, 138);
  border: none;
  padding: 0.3em 1em;
}

.shuffle-btn:hover {
  color: white;
  font-weight: 500;
  background-color: black;
}