.RecipeMedium {
  background-color: white;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  border-radius: 0.6em;
  width: 20em;
  height: 25em;
  display: flex;
}

.RecipeMedium .Recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:auto;
}

.RecipeMedium .Recipe-container:nth-child(1){
  align-self: top;
}

.RecipeMedium img {
  height: 15em;
}

.RecipeMedium .Recipe-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.RecipeMedium #Recipe-title {
  font-size: 1.4em;
  text-align: center;
  vertical-align:middle;
  margin: 1em 0 0.4em;
}

.RecipeMedium #Recipe-info {
  font-size: 1em;
  text-align: center;
}