.RecipeMedium {
  background-color: white;
  padding: 1em;
  margin: auto;
  border-radius: 0.6em;
  width: 18em;
  height: 23em;
  display: flex;
}

.RecipeMedium .Recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.RecipeMedium .Recipe-container:nth-child(1){
  align-self: top;
}

.RecipeMedium img {
  height: 14em;
  border-radius: 0.6em;
}

.RecipeMedium .Recipe-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.RecipeMedium #Recipe-title {
  font-size: 1.3em;
  text-align: center;
  vertical-align:middle;
  margin: 1em 0 0.4em;
}

.RecipeMedium #Recipe-info {
  font-size: 1em;
  text-align: center;
}

.no-matches li {
  list-style-type: none;
}